export(last_n_days)
export(last_n_weeks)
export(last_n_months)
export(last_n_quarters)
export(last_n_years)
export(previous_week)
export(previous_month)
export(previous_quarter)
export(previous_year)
export(this_week)
export(this_month)
export(this_quarter)
export(this_year)
export(next_week)
export(next_month)
export(next_quarter)
export(next_year)
export(next_n_days)
export(next_n_weeks)
export(next_n_months)
export(next_n_quarters)
export(next_n_years)
export(custom_period)
export(as_timeperiod)
export(weekends)
export(first_weekday)
export(last_weekday)
export(first_weekend)
export(last_weekend)
export("%.in%")
export("%left_out%")
export("%left_in%")
export("%right_out%")
export("%right_in%")
importFrom(lubridate, ceiling_date, floor_date, days, weeks, years)
importFrom(stats, start, end)
S3method("as_timeperiod",Date)
S3method("as_timeperiod",default)
S3method("print",tpr)
S3method("seq",tpr)
S3method("length",tpr)
S3method("start",tpr)
S3method("end",tpr)
S3method("weekdays", tpr)
S3method("weekends", default)
S3method("weekends", tpr)
S3method("first_weekday", default)
S3method("first_weekday", tpr)
S3method("last_weekday", default)
S3method("last_weekday", tpr)
S3method("first_weekend", default)
S3method("first_weekend", tpr)
S3method("last_weekend", default)
S3method("last_weekend", tpr)
S3method("[[<-", tpr)
S3method("[<-", tpr)
