export(last_n_days)
export(last_n_weeks)
export(last_n_months)
export(last_n_quarters)
export(last_n_years)
export(previous_week)
export(previous_month)
export(previous_quarter)
export(previous_year)
export(this_week)
export(this_month)
export(this_quarter)
export(this_year)
export(next_week)
export(next_month)
export(next_quarter)
export(next_year)
export(next_n_days)
export(next_n_weeks)
export(next_n_months)
export(next_n_quarters)
export(next_n_years)
export(custom_period)
S3method("print",tpr)
S3method("seq",tpr)
S3method("length",tpr)
S3method("start",tpr)
S3method("end",tpr)
S3method("[[<-", tpr)
S3method("[<-", tpr)
importFrom(lubridate, ceiling_date, floor_date, days, weeks, years)
importFrom(stats, start, end)