exportPattern("^[[:alpha:]]+")
S3method("print",tpr)
S3method("seq",tpr)
S3method("length",tpr)
S3method("start",tpr)
S3method("end",tpr)
S3method("[[<-", tpr)
S3method("[<-", tpr)
importFrom(lubridate, ceiling_date, floor_date, days, weeks, years)